<div class="post-page">
<h1>Profile</h1>
<h3>Create New Post</h3>
<form>
  <label for="name">Dish Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="restaurant">Restaurant:</label>
  <input type="text" id="restaurant" name="restaurant" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required>

  <label for="star-rating">Star Rating (out of 5 stars):</label>
  <input type="text" id="star-rating" name="star-rating" required>

  <input type="submit" id="submit" value="Create Post" style="margin-top: 10px;">
</form>

{{#if food.length}}
  <div>
    <h3>Your Posts:</h3>

    {{#each food as |food|}}
    <div class="your-posts">
      {{food.name}} <br>
      Restaurant: {{food.restaurant}} <br>
      {{food.description}} <br>
      {{food.star_rating}} out of 5 stars <br>
      {{food.date_created}}
      <button class="btn btn-sm btn-danger" id="delete" data-id="{{food.id}}">DELETE</button>
    </div>
    {{/each}}
  </div>
{{/if}}

  </div>

<script src="/js/post.js"></script>