<h1>Profile</h1>
<h3>Create New Post</h3>
<form>
  <label for="name">Dish Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="restaurant">Restaurant:</label>
  <input type="text" id="restaurant" name="restaurant" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required>

  <label for="star-rating">Star Rating (out of 5 stars):</label>
  <input type="text" id="star-rating" name="star-rating" required>

  <input type="submit" id="submit" value="Create Post">
</form>

{{#if foods.length}}
  <div>
    <h3>Your Posts:</h3>

    {{#each foods as |food|}}
    <div>
      {{food.user_id}}
      {{food.date_created}}
      {{food.name}}
      {{food.restaurant}}
      {{food.description}}
      {{food.star_rating}} out of 5 stars
    </div>
    {{/each}}
  </div>
  {{/if}}

<script src="/js/post.js"></script>